.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

/* medium size */
@media only screen and (min-width: 550px) {
    .image {
        width: 80%;
    }
}

/* large size */
@media only screen and (min-width: 1000px) {
    .image {
        width: 60%;
    }
}