.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        'lamp sensor'
        'upload sensor';
}

.section-lamp {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: lamp;
}

input[type=color] {
    width: 5rem;
    margin-top: .3rem;
    height: 2rem;
}

.section-sensor {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: sensor;
}

.illuminance {
    font-size: 1.75rem;
}

.section-upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: upload;
}

.section-title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.lamp {
    border: 0.25rem solid black;
    border-radius: 50%;
    background-color: gray;
    color: white;
    font-size: 1.1rem;
    font-weight: bolder;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart {
    width: 50rem;
}

.file-upload-text {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 1rem;
}

input[type=file] {
    font-size: 1.3rem;
}

input[type=submit] {
    font-size: 1.3rem;
    margin-left: 2rem;
}